---
layout: default
title: moodle partage
---
<h3>
    <a name="salut-%C3%A0-tous-" class="anchor" href="#salut-%C3%A0-tous-"><span
            class="octicon octicon-link"></span></a>Salut à tous !</h3>

<p>Le but est de partager nos expériences pour faire évoluer plus efficacement nos outils.
    Si des motivés y voit un intérêt commun n'hésitez pas vous manisfester.
    a+ et bonne rentrée à tous.</p>

<p>En vrac, plusieurs idées de idées de thèmes :</p>

<ul>
    <li><a href="#">archi systeme et configuration moodle (serveurs, bdd)</a></li>
    <li><a href="#">Problématiques de maj d'une année sur l'autre (maj utilisateurs, maquettes)</a></li>
    <li><a href="#">communication avec d'autres systèmes (apogee, ldap, esup, mahara...)</a></li>
    <li><a href="#">exemples d'implémentations avec les frameworks actuels (php, java)</a></li>
</ul>

<h3>Liste des articles par catégories (tests)</h3>

{% for category in site.categories %}
<h4>
    <a name="{{ category | first }}">{{ category | first }}</a>
</h4>
<ul>
    {% for posts in category %}
    {% for post in posts %}
        {% if post.title == empty %}

        {% else %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
    {% endfor %}
</ul>
{% endfor %}

<!--<h2>archive</h2>-->
<!--<ul id="archive">-->
<!--{% for post in site.posts %}-->
<!--<li class="post-{{ post.category }}">-->
<!--{% if post.external_url == nil %}-->
<!--<a href="{{ post.url }}">{{ post.title }}</a><abbr>{{ post.date | date_to_string }}</abbr>-->
<!--{% else %}-->
<!--<a href="{{ post.external_url }}">{{ post.title }}</a><abbr>{{ post.date | date_to_string }}</abbr>-->
<!--{% endif %}-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->
